$active-color: #ff9311;
$boldOSFont: OpenSansBold;
$lightOSFont: OpenSansLight;
$regularOSFont: OpenSansRegular;
@import 'slider';
*{
	box-sizing: border-box;
}
body{
	margin-top: 20px;
	min-width: 1920px;
}


header, main{
	max-width: 1200px;
    margin-left: 367px;
    margin-right: 379px;
}
header .logo{
	display: inline-block;
}

.menu{
	margin-top: 13px;
	float: right;
	display: inline-block;

	 ul{
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	li{
	    margin-left: 40px;
	    list-style-type: none;
	    float: left;

		a{
			color: #363636;
			text-transform: uppercase;
			font-family: $boldOSFont;
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0.005em;
		}
		a:hover{
			color: $active-color;
			cursor: pointer;
		}
	}
}


main{
	margin-top: 90px;

	.center-content, aside{
		display: inline-block;
	}
}
main .center-content{
	padding-left: 7px;
    width: 76%;

}
main aside{
	width: 29%;
}
.center-content{
	.section-header{
		text-transform: uppercase;
		font-family: $boldOSFont;
		color: rgb(56,49,41);
		font-size: 17pt;
	
		.border{
			margin-top: 5px;
		    height: 16px;
		    width: 5px;
		    float: left;
		    border-left: 5px solid $active-color;
		}

		span{
			display: inline-block;
			padding-left: 18px;
		}
	}
	.post-container{
		vertical-align: top;
		margin-top: 13px;
		margin-right: 29px;
		display: inline-block;
		width: 270px;
		height: 415px;

		.post-image{
			border: 1px solid rgb(218,218,218);
			display: inline-block;
			width: 100%;
			height: 216px;
			background-color: grey;
		}
		.post-header{
			margin-top: 12px;
		    margin-bottom: 5px;
		    color: #383129;
		    font-family: $boldOSFont;
		    font-size: 12pt;
		    text-transform: uppercase;
		    line-height: 25px;
		}
		p{
			font-family: $lightOSFont;
			color: #383129;
			margin-top: 0px;
		    line-height: 24px;
		    font-size: 14px;
		    margin-bottom: 23px;
		    span{
		    	text-transform: uppercase;
		    	font-size: 14px;
		    	font-family: $boldOSFont;
		    	color: rgb(153,153,153);
		    }

		    span:hover{
		    	color: $active-color;
		    	cursor: pointer;
		    	text-decoration: underline;
		    }
		}
		.post-footer{
			border: 1px solid rgb(218,218,218);
			border-left: 0px;
			border-right: 0px;
			height: 35px;

			.post-admin, .post-comments{
				padding-top: 10px;
				text-transform: uppercase;
				font-size: 12px;
				font-family: $regularOSFont;
				i{
					color: rgb(153,153,153);
					font-size: 14px;
    				padding-right: 5px;
				}
			}
			.post-admin:hover, .post-comments:hover{
				cursor: pointer;
				color: $active-color;
			}
			.post-admin{
				float: left;
			}
			.post-comments{
				float: right;
				padding-top: 11px;
				i{
					padding-right: 3px;
				}
			}
		}
	}
	.post-container:last-child{
		margin-right: 0px;
		margin-left: 4px;
	}

}
